<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form id="specialoffer" name="specialoffer" method="post" action="/specialoffer" enctype="multipart/form-data">
<table border="1"><caption align="center" >SPECIAL OFFER</caption>
<tr><td></br></td></tr>
<tr><td>
    <table border="1">
        <tr><td>name</td><td>:</td><td>flowers</td></tr>
    <tr><td>price</td><td>:</td><td>RS100</td></tr>
        <tr><td>special offer</td><td>:</td><td>50%</td></tr>
<tr><td><input type="submit" name="addtocart" value="ADD TO CART">
</td><td><input type="submit" name="like" value="LIKE"></td>
    <td><input type="submit" name="comment" value="COMMENT"></td></tr></table>
</td><td>
    <table border="1">
        <tr><td>name</td><td>:</td><td>flowers</td></tr>
    <tr><td>price</td><td>:</td><td>RS100</td></tr>
    <tr><td>special offer</td><td>:</td><td>50%</td></tr>
<tr><td><input type="submit" name="addtocart" value="ADD TO CART">
</td><td><input type="submit" name="like" value="LIKE"></td>
    <td><input type="submit" name="comment" value="COMMENT"></td></tr></table>
</td></tr>
    <tr><td> <table border="1">
        <tr><td>name</td><td>:</td><td>flowers</td></tr>
    <tr><td>price</td><td>:</td><td>RS100</td></tr>
    <tr><td>special offer</td><td>:</td><td>50%</td></tr>
<tr><td><input type="submit" name="addtocart" value="ADD TO CART">
</td><td><input type="submit" name="like" value="LIKE"></td>
    <td><input type="submit" name="comment" value="COMMENT"></td></tr></table>
</td>
<tr><td>
<table border="1">
    <tr><td>name</td><td>:</td><td>flowers</td></tr>
    <tr><td>price</td><td>:</td><td>RS100</td></tr>
    <tr><td>special offer</td><td>:</td><td>50%</td></tr>
<tr><td><input type="submit" name="addtocart" value="ADD TO CART">
</td><td><input type="submit" name=like" value="LIKE"></td>
    <td><input type="submit" name="comment" value="COMMENT"></td></tr>
</td><TD> </table>
    </td></tr></table>
 </form>
</body>
</html>