<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form id="login" name="login" method="post" action="/login" enctype="multipart/form-data">
     <table><caption align ="center">login</caption>
    <tr><td>USER NAME</td><td>:</td><td><input type="text" name="username" required/></td></tr><tr><td><br></td></tr>
<tr><td>PASSWORD</td><TD>:</TD><td><input type="password" name="password" required/></td></tr><tr><td><br></td></tr>
    <tr><td align="center"><input type="submit" name="btn.login" value="login"/> </td></tr>
<tr><td><br></td></tr>
    <tr><td align="right"><a href="/show">create a new account</a></td></tr></table>
 </form></body>
</html>