<!DOCTYPE html>
<html>
<head>
	<title>Capture login form Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="//fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Capture login form  Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />	
	
</head>
<body>

{% if status== "no" %}
<script>
	alert('Invalid username or password');
</script>


{% endif %}



	<h1>Project Name Here</h1>
	<div class="w3layouts">
		<div class="signin-agile">
			<h2>log In</h2>
			<form method="post" action="/login">
				<input type="text" name="username" class="name" placeholder="Username" required>
				<input type="password" name="password" class="password" placeholder="Password" required>
				<ul>
					<li>

					</li>
				</ul>

				<div class="clear"></div>
				<input type="submit" value="Login">
			</form>
		</div>
		<div class="register-right">
			<img src="/static/images/1.png" alt="images">
		</div>
		<div class="clear"></div>
	</div>
	<div class="footer-w3l">
		<p class="agileinfo"> &copy; 2018 Capture login form . All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
	
<body>
</html>