<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/viewprofile">my account</a><br>
<a href="/viewuser">edit account</a><br>
<a href="/editpassword">edit password</a><br>
<a href="/admin_addproduct">transcationa</a><br>
<a href="/viewsalereport">VIEW SALES REPORT</a><br>
<a href="/viewpurchasehistory">purchase history</a><br>
<a href="/payment">payment</a><br>
<a href="/usersee">usersee</a><br>
<a href="/showcomment">comment</a>
</body>
</html>