{%extends "index.html"%}
{% block body %}


   {% for a in ac %}

<div class="product-sec1" height="60px">
<table>
  <tr><td width="50px"><strong>#{{ loop.index }}</strong></td><td width="200px"><img src="/{{ a[6] }} "  width="100px" height="100px"/><td width="200px"><strong>{{ a[1] }} </strong></td><td width="200px" forecolor="red"><h2>RS:{{ a[3] }}</h2></td></table>

  <!--<tr><td>{{ a[1] }} </td></tr>-->
  </tr>
</table>

</div>
<br>


{% endfor  %}


<h1>&nbsp;</h1>

<form  method="post" action="/paymentfinal" >
  <table class="table-responsive" >
    <tr>
      <td height="50px">Total Amount :</td>
      <td>{{ total }} <input type="hidden" id="totamnt" name="totamnt" value="{{ total }}"/></td>
    </tr>

    <tr>
      <td height="50px">&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Pay" /></td>
    </tr>
  </table>

  


</form>

{% endblock %}