<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form id="" name="register" method="post" action="/reg" enctype="multipart/form-data">
<table ><caption align="'center">REGISTERATION FORM </caption>
      <tr><td></br></td></tr>
<tr><td>FIRST NAME</td><td>:</td><td><input type="text" name="name" required/></td></tr>
    <tr><td></br></td></tr>
   <tr><td>PHONE NUMBER</td><td>:</td><td><input type="number" name="phonenumber" minlength="13" maxlength="13"required/></td></tr>
      <tr><td></br></td></tr>
   <tr><td>PLACE</td><td>:</td><td><input type="TEXT" name="place" required/></td></tr>
      <tr><td></br></td></tr>
     <tr><td>CITY</td><td>:</td><td><input type="TEXT" name="city" required/></td></tr>
      <tr><td></br></td></tr>
    <tr><td>COUNTRY</td><td>:</td><td><input type="TEXT" name="country" required/></td></tr>
      <tr><td></br></td></tr>
    <tr><td>EMAIL</td><td>:</td><td><input type="email" name="email" required/></td></tr>
      <tr><td></br></td></tr>
   <tr><td> PASSWORD</td><td>:</td><td><input type="text" name="password"required/></td></tr>
      <tr><td></br></td></tr>
    <tr><td>CONFIRM PASSWORD</td><td>:</td><td><input type="text" name="confirmpassword"required/></td></tr>
      <tr><td></br></td></tr>
    <tr><td>ADD PROFILE PICTURE</td><td>:</td><td><input type="file" name="add" /></td></tr>
      <tr><td></br></td></tr>
<tr><td align="center"><input type="submit" name="btn.register" value="register"> </td></tr></table>
 </form>
</body>
</html>