{%extends "index.html"%}
{% block body %}
 <form id="editpassword" name="editpassword" method="post" action="/epassword" enctype="multipart/form-data">
<table width="546" >

    <tr><td></br></td></tr>
      <tr><td></br></td></tr>

  <tr>
    <td>OLD PASSWORD</td>
    <td>:</td>
    <td>
      <label for="textfield4"></label>
      <input type="text" name="oldpassword" id="city" required />
    </td>
    <td>&nbsp;</td>
  </tr>
    <tr><td></br></td></tr>
  <tr>
    <td>CURRENT PASSWORD</td>
    <td>:</td>
    <td>
      <label for="textfield5"></label>
      <input type="text" name="currentpassword" id="country" required />
    </td>
    <td>&nbsp;</td>
  </tr>
    <tr><td></br></td></tr>
  <tr>
    <td>CONFIRM PASSWORD</td>
    <td>:</td>
    <td>
      <label for="textfield6"></label>
      <input type="text" name="confirmpassword" id="profile" required/>
    </td>
    <td>&nbsp;</td>
  </tr>
    <tr><td></br></td></tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="submit" id="update" value="SUBMIT" />
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
 </form>
{% endblock %}