<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAYMENT</title>
</head>
<body>
 <form id="payment" name="payment" method="post" action="/paymentu" enctype="multipart/form-data">
<table><caption align="center">PAYMENT</caption>
<tr><td></br></td></tr>
    <tr><td>BANK</td><td>:</td><td align="left"><select name="bank" required><option>ICCC</option><option>FEDRAL</option><option>AXIS</option></select></td></tr>
<tr><td></br></td></tr>
     <tr><td>ACCOUNT NUMBER</td><td>:</td><td><input type=="number" name="accountnumber" required/></td></tr>
<tr><td></br></td></tr>
 <tr><td>KEY</td><td>:</td><td><input type=="number" name="key" required/></td></tr>
    <tr><td></br></td></tr> <tr align="center"><td>
        <input type="submit" value="pay" name="pay"/></td>
       </tr></table>
 </form>
</body>
</html>
