<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
</head>
<body>
 <form id="comment" name="comment" method="post" action="/comment" enctype="multipart/form-data">
<table ><caption align="center">COMMENT</caption>
    <tr><td width="144" height="66"></br></td></tr>
    <tr><td><img src="Desert.jpg" alt="img" width="100" height="100" align="right"></td><td>
        <input type=="text" name="qr" required maxlength="40"/> </td>
       <td width="201"><p>
          <input type="submit" name="post" value="post">
        </p></td></tr><tr><td></br>
<tr>
  <td height="144"></br>
    <img src="Desert.jpg" alt="immg" width="100" height="100" align="right"></td><td>well</td><td>12/4/2018</td>
</tr>
{% for va in ac %}

<tr>
    <td></td>
 <td>{{ va[0]}}</td>
 <td>{{ va[1] }}</td>
<td>{{ va[2] }}</td>
</tr>
{% endfor %}
</table>
 </form>
</body>
</html>