<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <form id="user_transactionaldetails" name="user_transactionaldetails" method="get" action="/user_transactionaldetailsy" enctype="multipart/form-data">
<TABLE border="1">
  <caption>
    TRANSCATIONAL DETAILS
  </caption>
  <tr>
    <td width="199" align="CENTER" onautocomplete="this" >slno</td>
    <td width="199" ALIGN="CENTER">product </td>
    <td width="199" align="CENTER">category</td>
    <td width="199" ALIGN="center">amount</td>
      <td width="199" ALIGN="center"></td>
  </tr>
    { % for vc in v
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
 </form>
</body>
</html>