{%extends "admintemplate.html"%}
{% block body %}
<form action="/post_adminviewreports" method="post">

    <table>
        <tr>
            <td>Choose Date</td>
            <td><input type="date" name="from"/></td>
            <td><input type="date" name="to"/></td>
            <td><input type="submit" name="" value="SHOW"></td>
        </tr>
    </table>
<br>

    <table class="table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Place</th>
            <th>Date</th>
            <th>Total Amount</th>
        </tr>
        {% for row in res %}
            <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            </tr>
        {% endfor %}
    </table>


</form>
{% endblock %}